/* Import Tailwind first to ensure its utility classes have the lowest specificity */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Now apply your custom global styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Custom mobile styles */
@media (max-width: 768px) {
  body {
    font-size: 14px; /* Adjust font size for mobile */
  }

  h2 {
    font-size: 1.5rem; /* Responsive heading size */
  }

  .canvas-container {
    height: 50vh; /* Adjust height for mobile */
  }

  /* Additional styles for other elements */
}
